@tailwind base;
@tailwind components;
@tailwind utilities;

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .common-button {
    @apply px-10 py-2 mt-2 bg-mainBlue bg-gradient-to-r from-mainSalmon to-mainBlue transition-all duration-300 font-semibold text-mainWhite rounded-3xl text-center tracking-wide uppercase shadow-md text-lg md:text-xl;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  }

  @media (hover: none) {
    .common-button:active {
      @apply scale-95 text-mainBlack shadow-lg;
    }
  }
  @media (hover: hover) {
    .common-button:hover {
      @apply hover:scale-95 hover:text-mainBlack hover:shadow-lg;
    }
  }

  /*  */

  .link-button {
    @apply px-6 py-2 md:px-10 md:py-3 bg-mainBlue bg-gradient-to-r from-mainSalmon to-mainBlue transition-all duration-300 font-semibold text-mainWhite rounded-3xl text-center uppercase shadow-lg text-sm md:text-lg;
  }

  @media (hover: hover) {
    .link-button:hover {
      @apply hover:scale-95 hover:text-mainBlack hover:shadow-xl;
    }
  }
  @media (hover: none) {
    .link-button:active {
      @apply scale-95 text-mainBlack shadow-xl;
    }
  }

  /*  */

  .sign-out-button {
    @apply transition-all duration-200 rounded;
  }

  @media (hover: hover) {
    .sign-out-button:hover {
      @apply hover:bg-black/20;
    }
  }
  @media (hover: none) {
    .sign-out-button:active {
      @apply bg-black/20;
    }
  }

  /*  */

  .applicant-form-button {
    @apply uppercase bg-green-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition-all duration-200 text-sm md:text-base tracking-wide;
  }

  @media (hover: hover) {
    .applicant-form-button:hover {
      @apply hover:shadow-lg hover:bg-green-700;
    }
  }
  @media (hover: none) {
    .applicant-form-button:active {
      @apply shadow-lg bg-green-700;
    }
  }

  /*  */

  .company-form-button {
    @apply uppercase bg-green-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition-all duration-200 text-sm md:text-base tracking-wide;
  }

  @media (hover: hover) {
    .company-form-button:hover {
      @apply hover:shadow-lg hover:bg-green-700;
    }
  }
  @media (hover: none) {
    .company-form-button:active {
      @apply shadow-lg bg-green-700;
    }
  }

  /*  */

  .add-company-vacancy-button {
    @apply uppercase bg-green-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition-all duration-200 text-sm md:text-base tracking-wide;
  }

  @media (hover: hover) {
    .add-company-vacancy-button:hover {
      @apply hover:shadow-lg hover:bg-green-700;
    }
  }
  @media (hover: none) {
    .add-company-vacancy-button:active {
      @apply shadow-lg bg-green-700;
    }
  }

  /*  */

  .apply-for-vacancy-button {
    @apply uppercase bg-green-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition-all duration-200 text-sm md:text-base tracking-wide;
  }

  @media (hover: hover) {
    .apply-for-vacancy-button:hover {
      @apply hover:shadow-lg hover:bg-green-700;
    }
  }
  @media (hover: none) {
    .apply-for-vacancy-button:active {
      @apply shadow-lg bg-green-700;
    }
  }

  /*  */

  .update-company-vacancy-updateButton {
    @apply uppercase bg-green-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition-all duration-200 text-sm md:text-base tracking-wide;
  }

  @media (hover: hover) {
    .update-company-vacancy-updateButton:hover {
      @apply hover:shadow-lg hover:bg-green-700;
    }
  }
  @media (hover: none) {
    .update-company-vacancy-updateButton:active {
      @apply shadow-lg bg-green-700;
    }
  }

  /*  */

  .update-company-vacancy-deleteButton {
    @apply uppercase bg-red-600 text-white font-semibold px-6 py-3 rounded-lg shadow-md transition-all duration-200 text-sm md:text-base tracking-wide;
  }

  @media (hover: hover) {
    .update-company-vacancy-deleteButton:hover {
      @apply hover:shadow-lg hover:bg-red-700;
    }
  }
  @media (hover: none) {
    .update-company-vacancy-deleteButton:active {
      @apply shadow-lg bg-red-700;
    }
  }

  /*  */

  .spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid white;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
